body {
    font-family: Arial, sans-serif;          
}

.navbar-main {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-link {
    margin: 10px;
}
  
li a {
    color: #000;     
    text-decoration: none;
    font-size:14px;
}

li a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;    
}

.searchbar {
    display: flex; 
    justify-content: center;
    margin:0 auto;
    padding: 15px 15px;
    width: 520px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    
}

.searchbar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.searchbar input {
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    margin: auto 0;
}

.buttons {
    display: flex; 
    justify-content: center;
    margin-top:30px; 
       
}

.button {
    background-color: #f5f5f5;
    border:none;
    color:#000000;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
    text-decoration: none;
}

.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;    
}

.button:focus {
    border:1px solid #4885ed;
    padding: 9px 19px;
}

.image-logo {
    display: flex; 
    justify-content: center;
    color: #4285f4;
    font: 16px / 16px roboto-regular, arial, sans-serif; 
    white-space: nowrap;
}
  
.advanced-title {
    color: #d93025;
    cursor: default;
    margin: 10px;
    padding: 20px;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 20px;
    vertical-align: baseline;
    text-decoration: none;
    text-align: left;
}

.line {
    border-bottom: 1px solid #ebebeb; 
}

.advanced-search-container {
    margin: 50px 40px;
}

.advanced-search-container label {
    display: inline-block;
    width: 16%;
    font-size: 16px;
    color: #333333;
}

.advanced-search-container .whitespace {
    display: inline-block;
    width: 50%;
}

.advanced-search-container .form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}

.advanced-search-container .form-group label {
    width: 16%;
    font-size: 14px;
}

.advanced-search-container .form-group input {
    width: 49%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.advanced-search-container .form-group input:active {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.advanced-search-container .form-group .clarification {
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
}

.advanced-search-container .form-group .clarification .monospace {
    font-family: monospace;
}

.advanced-search-container .form-group .right-align {
    width: 50%;
}

input.blue-button {
    background-color: #4D90FE;
    color: white;
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #156bbd;    
    float: right;
    padding: 10px 2px;
    margin: 10px 0;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    min-width: 120px;
}

input.blue-button:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}

